<%-include("header") %>
    <div class="box" id="heading">
    <h1><%= Heading %></h1>
</div>
          <div class="box">
        <% for (var i=0;i<addItems.length;i++) {%>
            
            <div class="item">
                <input type="checkbox">
        <p><%=addItems[i]%></p>
    </div>
        <% } %> 
            
          
    <form  class = "item" action="/" method="post">
    <input type="text" name="toDoList" placeholder="put your wish" autocomplete="off">
    <button type="submit" name="list" class="btn btn-primary" value=<%=Heading%>>+</button>
    </form>
          </div>
<%- include("footer") %> 